.container {
  padding: 100px 50px;
  margin: 0 auto;
}

.inner {
  padding: 2rem 0;
}

.pageTitle {
  margin-bottom: 1rem;
}

.blogListContainer {
  margin-bottom: 4rem;
}
.ulList {
  width: 100%;
}
.listName {
  line-height: 1.5;
}

.listDate {
  color: #666;
  text-align: right;
  margin-bottom: 2rem;
}

.blogTitle {
  color: #0070f3;
  font-size: 1.2rem;
}

.backLink {
  color: #0070f3;
}

.blogContainer {
  margin-bottom: 4rem;
}

/* @media screen and (min-width: 961px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
} */

@media screen and (min-width: 600px) {
  .inner {
    max-width: 720px;
    margin: 0 auto;
  }
  .pageTitle {
    margin-bottom: 3rem;
  }
}
